In [2]:
import pandas as pd
import numpy as np

In [3]:
df= pd.read_csv("/Users/abhishekmathur/Downloads/IMDB Dataset.csv")
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [4]:
# Let's see the first review
df['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [5]:
df1 = df.sample(10000)

In [6]:
df1.shape

(10000, 2)

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 37347 to 31245
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     10000 non-null  object
 1   sentiment  10000 non-null  object
dtypes: object(2)
memory usage: 234.4+ KB

In [8]:
def length_count(text):
    x=0
    for i in text:
        x = x + 1
    return x

In [9]:
a = df1["review"].apply(length_count)
a

37347     393
22180     481
11301     702
34998     847
17360    1941
         ...
24428     954
49168     792
32806     721
24565     408
31245     658
Name: review, Length: 10000, dtype: int64

In [10]:
a.sum()

13131041

In [11]:
len(df1['review'].iloc[0])

393

In [12]:
df1['sentiment'].replace({'positive':1,'negative':0}, inplace = True)

In [13]:
df1.head()

                                                  review  sentiment
37347  Rudy Rae Moore is getting out of prison and ge...          1
22180  I am a fairly big fan of most of the films tha...          1
11301  Refreshing `lost' gem! Featuring effective dia...          1
34998  Aardman does it again. Next to Pixar, Aardman ...          1
17360  Have you heard the story about the reluctant h...          1

In [14]:
len(df1['review'].iloc[0])

393

In [15]:
df1['review'].iloc[0]

"Rudy Rae Moore is getting out of prison and getting revenge! Often referred to as the Godfather of Rap, he should also be the Godfather of great movies. The non-stop action will keep you on the edge of your seat and will leave you begging for more. Luckily, Rudy comes back as Dolemite in Human Tornado, so sit back relax, and have the rewind button ready because you won't believe your eyes!!"

In [16]:
import re     # Regular Expression library is imported to check if a string contains the specified search pattern
tag = re.compile('<.*?>')  # We are compiling few characters to delete 
re.sub(tag, '', df1["review"].iloc[0]) # re.sub() is used to replace occurrences of a particular sub-string with another sub-string

"Rudy Rae Moore is getting out of prison and getting revenge! Often referred to as the Godfather of Rap, he should also be the Godfather of great movies. The non-stop action will keep you on the edge of your seat and will leave you begging for more. Luckily, Rudy comes back as Dolemite in Human Tornado, so sit back relax, and have the rewind button ready because you won't believe your eyes!!"

In [17]:
# Function to remove HTML tags
def remove_html(text):
  tag = re.compile('<.*?>')   # Using the re <.*?> will match only '<a>', i.e. the string in <>
  return re.sub(tag, '', text)

In [18]:
df1["review"] = df1["review"].apply(remove_html)

In [19]:
df1.iloc[5]["review"]

'It\'s frequently said that movies can never equal the original book. Well, in this case, not only the movie is not "as good" as the book, but is an insult to the book. I\'d rather see Milan Kundera\'s novel turned on fire than into this "something," which the director probably calls "adaptation."All the beautiful philosophy that asks "is it better to carry a heavy load on your shoulders, or cope with the unbearable lightness of being?" is put aside, and instead, all the movie deals with is Daniel Day Lewis\' (I cannot say Tomas) sexual adventures with his dumb wife, his mistress, and his other mistresses. François Truffaut already said it: bad directors make bad movies. Don\'t waste your time and money. Read the book instead, it\'s really worth it.'

In [20]:
len(df1['review'].iloc[0])

393

In [21]:
def convert_lower_case(text):
  return text.lower()

In [22]:
df1["review"] = df1["review"].apply(convert_lower_case)

In [23]:
df1.iloc[16]["review"].islower()

True

In [24]:
def remove_special_characters(text):
  x=''
  for i in text:     # will pass every row as a text of "review", i check each character one by one
    if i.isalnum():  # Alphanumeric checks if the character is(alphabet|no.)?
      x=x+i          # nothing to change
    else:
      x=x+' '        #replace that character with a space
  return x

In [25]:
df1["review"] = df1["review"].apply(remove_special_characters)

In [26]:
df1["review"].iloc[20]

'i saw it in a posh movie theater where the audience is usually white  educated  and urban  the showing i attended had a sprinkling of african americans  and it made the difference in audience reaction between the two groups a wonderful social commentary on the state of race relations in this country  basically  the white folks were afraid to laugh or laughed nervously at the funny bits   and there are many     because they d be  laughting at blacks   while the blacks also stayed pretty silent because many couldn t laugh at themselves in front of the whites  i  on the other hand  being asian  and thus belonging to neither group   had a great time viewing this satire of rap culture and its egos trappings values pseudo philosophies  the cast is talented and does at great job becoming the characters portrayed  the songs are too funny to be believed this film is one of the best pseudo documentaries to come along  including  a mighty wind '

In [27]:
import nltk #natural language tool kit
# nltk provides us various text processing libraries with a lot of test datasets

In [28]:
from nltk.corpus import stopwords

In [29]:
nltk.download('stopwords')
stopwords.words("english")

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/abhishekmathur/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [30]:
from nltk.tokenize import word_tokenize
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/abhishekmathur/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [31]:
def remove_stopwords(text):
  text=word_tokenize(text)
  e=stopwords.words("english")
  x=[]
  for i in text: #We convert into split to put the review in a list. Here i=1 will take entire first word from the list and so on.  
    if i not in e:
        x.append(i) #Only words not in stopwords'll append in the empty list of x.
  y = x[:]       # Put all content of x in y to clear x
  x.clear()    # We clear bcz when the next review comes, the list remain empty.
  return y

In [32]:
remove_stopwords(" to convert into split to put the review")

['convert', 'split', 'put', 'review']

In [33]:
df1["review"] = df1["review"].apply(remove_stopwords)

In [34]:
def length_count(text):
    x=0
    for i in text:
        x = x + 1
    return x

In [35]:
b = df1["review"].apply(length_count)

In [36]:
b.sum()

1198440

In [37]:
text_reduced_percent = 100-(b.sum()/a.sum())*100
text_reduced_percent

90.873229319747

In [83]:
from sklearn.feature_extraction.text import CountVectorizer
cv= CountVectorizer(max_features=2000) #Select top 2000 words that has most occuring frequency

In [84]:
df1["review"].head()

37347    rudy rae moore getting prison getting revenge ...
22180    fairly big fan films based stephen king books ...
11301    refreshing lost gem featuring effective dialog...
34998    aardman next pixar aardman animation proves an...
17360    heard story reluctant heroes hired king slay d...
Name: review, dtype: object

In [85]:
df["review"].head()

0    One of the other reviewers has mentioned that ...
1    A wonderful little production. <br /><br />The...
2    I thought this was a wonderful way to spend ti...
3    Basically there's a family where a little boy ...
4    Petter Mattei's "Love in the Time of Money" is...
Name: review, dtype: object

In [86]:
#We need to join it back
def join_back(text):
    return " ".join(text)

In [87]:
df1["review"] = df1["review"].apply(join_back)

In [88]:
df1["review"].head()

37347    r u d y   r a e   m o o r e   g e t t i n g   ...
22180    f a i r l y   b i g   f a n   f i l m s   b a ...
11301    r e f r e s h i n g   l o s t   g e m   f e a ...
34998    a a r d m a n   n e x t   p i x a r   a a r d ...
17360    h e a r d   s t o r y   r e l u c t a n t   h ...
Name: review, dtype: object

In [ ]:
X=cv.fit_transform(df1["review"]).toarray()

In [97]:
X

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [98]:
X.shape

(10000, 500)

In [99]:
X[0].max()

2

In [100]:
X[0].min()

0

In [101]:
X[0].mean()

0.032

In [102]:
y = df1.iloc[:,-1].values
y

array([1, 1, 1, ..., 0, 1, 1])

In [103]:
y.shape

(10000,)

In [104]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [105]:
X_train.shape

(8000, 500)

In [106]:
X_test.shape

(2000, 500)

In [107]:
y_train.shape

(8000,)

In [108]:
y_test.shape

(2000,)

In [109]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB

In [110]:
clf1=GaussianNB()
clf2=MultinomialNB()
clf3=BernoulliNB()

In [111]:
clf1.fit(X_train,y_train)
clf2.fit(X_train,y_train)
clf3.fit(X_train,y_train)

BernoulliNB()

In [112]:
y_pred1=clf1.predict(X_test)
y_pred2=clf2.predict(X_test)
y_pred3=clf3.predict(X_test)

In [113]:
from sklearn.metrics import accuracy_score

In [114]:
print("Gaussian/ Normal Distribution:", accuracy_score(y_test,y_pred1))

Gaussian/ Normal Distribution: 0.782

In [115]:
print("Multinomial Distribution:", accuracy_score(y_test,y_pred2))

Multinomial Distribution: 0.808

In [117]:
print("BernoulliNB Distribution:", accuracy_score(y_test,y_pred3))

BernoulliNB Distribution: 0.801

#### We can see that we are getting the maximum output in the Multinomial distribution, therefore we can choose Multinomial distribution